.containerAsideEnd {
    width: 250px;
    height: 250px;
    color: $color-grisligero;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: small;
}

.containerAsideEnd a {
    color: $color-secundario;


}
