main {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.asideLeft {
    width: 20%;
}

.postSection {
    width: 45%;
    margin-right: 15px;
    margin-left: 10px;
}

.asideRight {
    width: 20%;
}