@import '../globals/variables';

.discuss_bar,
.others {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

a {
    text-decoration: none;
    color: $color-titulos;
    &:hover {
        color: $color-secundario
    }
}

.primer_link_principal,
.segundo_link_principal,
.tercer_link_principal,
.cuarto_link_principal,
.quinto_link_principal {
    font-size: 15px;
    display: block;
}

.primer_link_secundario,
.segundo_link_secundario,
.tercer_link_secundario,
.cuarto_link_secundario,
.quinto_link_secundario {
    font-size: 10px;
    margin-top: 5px;
    display: inline-block;
}

.barra_der {
    width: 250px; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

    .discuss_bar {
        background-color: $color-primario;
        position: relative;
        width: 100%;
        padding: 20px; 
        border-top-left-radius: 10px; 
        border-top-right-radius: 10px; 
        margin-bottom: 0; 

        .discuss_title {
            margin-left: 15px; 
            font-weight: bold; 
            font-size: 18px; 
        }

        .discussion {
            margin-left: 15px;
            font-size: 10px; 
        }
    }
    
    .others {
        background-color: $color-primario;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center; 
        padding: 20px; 
        box-sizing: border-box; 

        .par {
            background-color: $color-primario;
            margin-bottom: 20px; 
            padding: 10px; 
            width: 90%; 
            max-width: 400px; 
            box-sizing: border-box; 
        }

        &:last-child {
            border-bottom-left-radius: 10px; 
            border-bottom-right-radius: 10px; 
        }
    }
}